body {
  background-color:#f4f7e8;
}
h1,h2,h3 {
  text-align:center;
}
 section { 
    border: 12px solid #dcdcdc;
    border-style: ridge;
    padding: 1%;
    text-align: center;
    border-radius: 50px;
}
li{
  list-style: none;
}
a{
  color: #065cad;
}
